.login-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    gap: 10px;
}

.login-form > div > input {
    width: 140px;
    margin-left: 20px;
}

.login-form .input-field-container {
    display: flex;
    align-items: center;
    justify-content: left;
}

form a {
    color: darkblue;
    text-decoration: underline;
    cursor: pointer;
}

form span {
    margin-top: 20px;
    justify-self: center;
    align-self: center;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

.login-form button {
    margin-top: 30px;
}

.hidden {
    position: absolute;
    display: none;
}