.login-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    gap: 5px;
}

.login-form > div > input {
    width: 140px;
    margin-left: 20px;
}

.login-form .input-field-container {
    display: flex;
    align-items: center;
    justify-content: left;
}

form a {
    color: rgb(77, 136, 0);
    cursor: pointer;
}
  

form span {
    margin-top: 20px;
    justify-self: center;
    align-self: center;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

.login-form button {
    margin-top: 30px;
}

.hidden {
    position: absolute;
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield !important;
  appearance: textfield;
}