h1 {
    margin: 10px 0;
}

.inv-selector-container {
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    max-width: 100%;
    white-space: nowrap;
    margin-bottom: 10px;
}

.inv-selector {
    cursor: default;
    padding: 5px 10px;
    transition: all 200ms ease-in-out;
    font-size: 1.1rem;
    box-shadow: 0 0 0px #00000020;
    border-radius: 8px;
    border: 1px solid transparent;
    margin: 4px;
    cursor: pointer;
    min-width: 30px;
    width: auto;
    text-align: center;
    flex-shrink: 0;
}

.inv-selector:first-child {
    padding-left: 0;
    margin-left: 0;
}

.inv-selector::after {
    content: '';
    display: block;
    width: 20px;
    height: 3px;
    background-color: rgb(128, 128, 128);
    width: 30%;
    min-width: 10px;
    margin: 0 auto;
    border-radius: 4px;
    transition: all 150ms ease-in-out;
    text-align: center;
}

.selected {
    color: black;
}

.selected::after {
    width: 100%;
    background-color: black;
}

.day-btn {
    padding: 0;
    aspect-ratio: 1 / 1;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #00000010 !important;
    text-align: center;
    font-size: 1.4rem !important;
    border: unset;
    align-self: center;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
}

.day-btn:hover {
    background-color: #00000025;
}

.form-container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 12px;
    background-color: #00000005;
    border: 1px solid #00000010;
    padding: 16px;
    box-shadow: 0 5px 10px #0001;
}
.form-container :is(input, select, button) {
    font-size: 1rem;
}

.date-row {
    display: flex;
    gap: 15px;
}

.date-row .day-div {
    display: flex;
    flex-direction: column;
    overflow-x: visible;
}

.date-row .day-div span {
    text-align: center;
    
}

input,
select,
option {
    margin: 5px 0;
    padding: 12px 15px;
    outline: none;
    color: #141414;
    border-radius: 16px;
    border: 1px solid #00000010;
    background-color: #00000005;
    font-size: 0.9rem;
    transition: border 200ms ease-in-out;
}

input:focus:not([type="radio"], [type="checkbox"]),
select:focus {
        border: 1px solid #a0a0a0;
}

button {
    color: black;
    padding: 15px 40px;
    border: 1px solid #00000030;
    background-color: #00000005;
    border-radius: 12px;
    transition: all 200ms ease-in-out;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1rem;
}

button:disabled {
    color: grey;
    border: 1px solid #00000000;
}

button:hover {
    background-color: transparent;
}
button:disabled:hover {
    background-color: #00000005;
}

.delete-btn-container:hover .delete-btn {
    opacity: 1;
}

.delete-btn {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-self: center;
    aspect-ratio: 1 / 1;
    border: none;
    padding: 15px;
}
.delete-btn:hover {
    background-color: #00000025;
}

.visible {
    opacity: 1;
}

.item {
    border-bottom: 1px solid #00000030;
    white-space: nowrap;
    overflow-x: hidden;
    padding: 20px 0 19px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    .item p {
        margin: 0;
    }
    .item:last-child {
        border-bottom: none;
    }

@media (max-width: 530px) {
    button {
        width: 100%;
    }

    .form-container {
        max-width: 100%;
    }
}