.topnav {
    position: absolute; 
    overflow: hidden;
    width: 83%;
    z-index: 100; 
    margin-left: 250px;
    background-color: rgb(60, 57, 57);
}

.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 8px;
}

@media (prefers-color-scheme: light) {
    .topnav {
        background-color: #F9F9F9B3;
    }
    .topnav a {
        color: #213547;
    }
  
} 