.topnav {
    position: absolute; 
    overflow: hidden;
    background-color: rgba(249, 249, 249, 0.7019607843);
    width: 100vh; 
    z-index: 100; 
    margin-left: 250px;
}

.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}
