#root {
  text-align: center;
}

.content {
  margin-top: 50px; 
  margin-left: 0;
  display: inline-block;

  height: calc(100vh - 60px);
}

.sidebar {
  float: left;
}


.container {
  width: 100vh;
}